

/*#selection*/





#selection_container, #data_container {
	width: 980px;
	margin: 0px auto;
}
#selection {
	font-family: 'Rokkitt', sans-serif;
	font-weight: 400;
	width: 460px; /*todo: center on font*/
	margin: 0px auto;

}
#selection ul {
	padding: 4px;
}
#selection li {
	padding: 6px;
	display: inline;
	cursor: pointer;
}

#selection select {
	float: right;
	margin-top: -24px;
	margin-right: 24px;
}

#selection li:hover {
	color: #1589FF;
}
.selected {
	color: orange;
}
<!-- data table-->
#data {
	font-family: 'Muli', sans-serif;
	width: 960px; /*todo: center on font*/
	margin: 0px auto;
}
table {
	width: 100%;
	text-align:center;
}
tr {
	border: 1px solid black;
}
tr.tbl_contract_date_row {
	background: white;
	color:black;
}
td, th {
	width: 60px;
	padding: 4px;
	border: 1px solid black;
}

.tbl_contract_headers {
	background: grey;
	font-weight: 600;
}
.odd {
	background:#4D4D4D;	
}
.bid, .ask {
	cursor:pointer;
}

.lift {
	background: green;
}
.hit {
	background: #8B0000;
}

.arrow {
	cursor:pointer;
}
/*#submit*/
#dialog {
	display:inline;
}

#dialog label {
	display:block;
}