<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->

  <!-- placeholder servlet tentatively for launching instances -->
  
  <servlet>
    <servlet-name>launchServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.aws.LaunchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>launchServlet</servlet-name>
    <url-pattern>/launch</url-pattern>
  </servlet-mapping>
  
  
  <!-- test datastore servlets -->
  <servlet>
    <servlet-name>ToolkitServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.toolkit.ToolkitServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ToolkitServlet</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  

	<!-- blob upload/serve servlets for message passing and connection status/update -->
	<servlet>
		<servlet-name>BlobUploadHandler</servlet-name>
		<servlet-class>edu.columbia.e6998.cloudexchange.datastore.BlobUploadHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlobUploadHandler</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BlobServeHandler</servlet-name>
		<servlet-class>edu.columbia.e6998.cloudexchange.datastore.BlobServeHandler</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BlobServeHandler</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>

<!-- 
	<servlet>
		<servlet-name>TransactionHandler</servlet-name>
		<servlet-class>edu.columbia.e6998.cloudexchange.datastore.TransactionHandler</servlet-class>
	</servlet>
 -->
 
	<servlet-mapping>
		<servlet-name>BlobServeHandler</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>	
	
	
 <!--  channel servlets for message passing and connection status/update-->
  
   <servlet-mapping>
	<servlet-name>MessageHandlerServlet</servlet-name>
	<url-pattern>/message/</url-pattern>
</servlet-mapping>

	<servlet>
		<servlet-name>MessageHandlerServlet</servlet-name>
		<servlet-class>edu.columbia.e6998.cloudexchange.channel.MessageHandlerServlet</servlet-class>
	</servlet> 
 
  <servlet-mapping>
	<servlet-name>ConnectHandlerServlet</servlet-name>
	<url-pattern>/_ah/channel/connected/</url-pattern>
</servlet-mapping>

	<servlet>
		<servlet-name>ConnectHandlerServlet</servlet-name>
		<servlet-class>edu.columbia.e6998.cloudexchange.channel.ConnectHandlerServlet</servlet-class>
	</servlet> 
 
   <servlet-mapping>
	<servlet-name>DisconnectHandlerServlet</servlet-name>
	<url-pattern>/_ah/channel/disconnected/</url-pattern>
</servlet-mapping>

	<servlet>
		<servlet-name>DisconnectHandlerServlet</servlet-name>
		<servlet-class>edu.columbia.e6998.cloudexchange.channel.DisconnectHandlerServlet</servlet-class>
	</servlet>  
	
	
 <!--  main "viewer" - exchange screen -->
  <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>edu.columbia.e6998.cloudexchange.client.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

- <!--  account "viewer" -->   
   <servlet>
       <servlet-name>account</servlet-name>
       <servlet-class>edu.columbia.e6998.cloudexchange.client.AccountServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>account</servlet-name>
       <url-pattern>/account</url-pattern>
   </servlet-mapping>

    
    <security-constraint>
    <web-resource-collection>
      <web-resource-name>Open Pages</web-resource-name>
      <url-pattern>/stylesheets/*</url-pattern>
      <url-pattern>/images/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Pages</web-resource-name>
      <url-pattern>/views/*</url-pattern>
      <url-pattern>/js/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>FORWARD</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin Pages</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>views/index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
