<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- test servlet does nothing -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.servlet.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/thecloudexchange/greet</url-pattern>
  </servlet-mapping>
  
  <!-- placeholder servlet tentatively for launching instances -->
  
  <servlet>
    <servlet-name>launchServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.servlet.LaunchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>launchServlet</servlet-name>
    <url-pattern>/launch</url-pattern>
  </servlet-mapping>
  
  
  <!-- test datastore servlets -->
  <servlet>
    <servlet-name>DatastoreEstablishBuyServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.datastore.DatastoreEstablishBuyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DatastoreEstablishBuyServlet</servlet-name>
    <url-pattern>/test/buy</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>DatastoreInsertContractServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.datastore.DatastoreInsertContractServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DatastoreInsertContractServlet</servlet-name>
    <url-pattern>/test/insert</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DatastoreQueryServlet</servlet-name>
    <servlet-class>edu.columbia.e6998.cloudexchange.datastore.DatastoreQueryServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DatastoreQueryServlet</servlet-name>
    <url-pattern>/test/query</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
